.login-background{
    background:url(../images/1.jpg) left top repeat ;
    position: absolute;
    width: 100%;
    height: 100%;

}

.panel-login-container{
    padding: 100px;
}

.panel-login{
    padding: 70px;
    margin: 50px;
}

.input-login{
    padding-top: 20px;
}