.footer{
    background-image:url(../images/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
    font-family: Roboto-Thin Helvetica;
    
}

.footer-separator{
    border-left: 1px solid white;
}


.icon-product-container{
    padding-top:40%;
    padding-left: 20px;
}
.icon-product-button{
    padding-left:20px;
}

.product-cart{
    width: 500px;
}


.user-text{
    color: #000 !important;
}


